
.addContainer{
    height: 2.5em;
    width: 12em;
}

.addLink{
    font-weight: bold;
}

.addElement{
height: 100%;
}

.editBtn{
    color: var(--primary-dark);
    text-decoration: underline;
}

.yellow{
    background-color: var(--secondary-color);
}

.DetailsArticle{
    min-width: 30vw;
}

.numberOrderContainer{
    background-color: var(--secondory-light);
    color: var(--primary-dark);
    margin: auto;
}

.orderLineContainer{
    box-shadow: 3px 3px 6px grey;
    min-height: 20vw;

}

.importSuccessMessage{
    width: 40%;
}