
/*-----------------------------------list page-----------------------*/

.addContainer{
    height: 2.5em;
}

.addLink{
    font-weight: bold;
}

.addElement{
height: 100%;
}

.editBtn{
    color: var(--primary-dark);
    text-decoration: underline;
}



/*--------------------------------------LOGIN_PAGE-----------------------------*/


.loginBackground {
    background-image : url("../images/background.png");
    background-size: cover;
}

.loginContainer{
    background-color: white;
}

.logo{
    height: 25vh;
}

.disconnectMessage{
    background-color: var(--green-color);
}

.errorLoginMessage {
    background-color: var(--red-color);
    color: white;
}

.colorBtn{
    background-color: var(--primary-light);
}
.colorBtn:hover{
    color : white;
}

